@inherits BlazorLayoutComponent

<div class="sidebar">
    <SideBarNavMenuH5 />
</div>

<div class="navbar">
    <NavBarMenuH5 />
</div><!-- .navbar -->

<div class="app">
    <div class="site-container">
        <main class="main-content">
            <div class="main-content-wrap">
                @Body
            </div>
        </main>
    </div>
</div>
